<!DOCTYPE html>
<html lang="en-US">  
 <body ng-app="myApp">
 <div ng-controller="PersonaController">
    <h1> Server Side Project </h1>
	<form name="personaForm" >

	 <table>
	      <tr><th>ID </th> <th>Name</th> <th>Height</th> <th>Mass</th> <th>Hair_color</th> <th>Gender</th> <th>Planet</th> </tr>
	      <tr ng-repeat="row in persona">
	         <td><span ng-bind="row.id"></span></td>
	         <td><span ng-bind="row.name"></span></td>
	         <td><span ng-bind="row.height"></span></td>
	         <td><span ng-bind="row.mass"></span></td>
	         <td><span ng-bind="row.hair_color"></span></td>
	         <td><span ng-bind="row.gender"></span></td>
	         <td><span ng-bind="row.planet"></span></td>
	         <td>
		  </tr>	
	</table>
	<p class="bg-info info-msg" id="info1">{{Message}}</p>
	<div class="form-group" >
        <label class=blue_font>Name</label>
        <input class=form-control type="text" id="name" ng-model="personaForm.name" placeholder="name" autocomplete="off">
    </div>
    
    <div class="form-group" >
        <label class=blue_font>Height</label>
        <input class=form-control type="text" id="height" ng-model="personaForm.height" placeholder="height" autocomplete="off">
    </div>
    
    <div class="form-group" >
        <label class=blue_font>Mass</label>
        <input class=form-control type="text" id="mass" ng-model="personaForm.mass" placeholder="mass" autocomplete="off">
    </div> 
    
    <div class="form-group" >
        <label class=blue_font>Hair_color</label>
        <input class=form-control type="text" id="hair_color" ng-model="personaForm.hair_color" placeholder="hair_color" autocomplete="off">
    </div>
    
    <div class="form-group" >
        <label class=blue_font>Gender</label>
        <input class=form-control type="text" id="gender" ng-model="personaForm.gender" placeholder="gender" autocomplete="off">
    </div>
        
    <div class="form-group" >
        <label class=blue_font>Planet</label>
        <input class=form-control type="text" id="planet" ng-model="personaForm.planet" placeholder="planet" autocomplete="off">
    </div> 
        
 <div class="btn-wrapper">
  <div class="row-gutter-5">
    <div class="col-md-4 col-xs-6 col-sm-6">
      <button class="btn btn_blue" type="button" data-ng-click="create()" id="Create" >Create</button>
    </div>
    <div class="col-md-4 col-xs-6 col-sm-6">
      <button class="btn btn_blue" type="button" data-ng-click="refresh()" id="refresh">Refresh</button>
    </div>
  </div>
</div>
	
	<div class="form-group" >
        <label class=blue_font>ID</label>
        <input class=form-control type="text" id="ID" ng-model="personaForm.id" placeholder="ID" autocomplete="off">
    </div>      
	 <div class="btn-wrapper">
  <div class="row-gutter-5">
    <div class="col-md-4 col-xs-6 col-sm-6">
      <button class="btn btn_blue" type="button" data-ng-click="deleteRec()" id="Delete" >Delete</button>
    </div>
    <div class="col-md-4 col-xs-6 col-sm-6">
      <button class="btn btn_blue" type="button" data-ng-click="update()" id="Update">Update</button>
    </div>
    </div>
</div>     
	      
	</form>
	</div>
	<script src="./js/angular.min.js"></script>
	<script src="./js/angular-resource.min.js"></script>
	<script src="./js/app.js"></script>
	<link rel="stylesheet" href="./css/style.css">	
	<link rel="stylesheet" href="./css/theme-default.css">
	<link rel="stylesheet" href="./css/theme-blue.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/custom.css">
 </body>
</html>   